<h1>Admins#hello</h1>
<p>Hello! This is Gaurav</p>


<%= 1 + 1 %>
<br />


<% target = "world" %>
<%= "Hello #{target}"%><br />

<% @array.each do |n| %>
  <%= n %><br />
<% end %>


<a href="/admins/index">Index Page 1</a><br />
<%= link_to('Index Page 2', {:action => 'index'})%>


<br />
ID: <%= params[:id] %>
ID: <%= @id %><br />
Next Page: <%= @page + 1%><br />

<hr />
<%= params.inspect%>