<%= link_to '<< Back to List', admins_path %>

<div class="panel panel-default">
  <div class="panel-heading">
    Show Admin
  </div>

  <table summary="Admin Details" class="table">
    <tr>
      <th>Name</th>
      <td><%= @display_admin.name %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @display_admin.email %></td>
    </tr>
    <tr>
      <th>Created At</th>
      <td><%= @display_admin.created_at %></td>
    </tr>
    <tr>
      <th>Updated At</th>
      <td><%= @display_admin.updated_at %></td>
    </tr>
  </table>
</div>