<% if flash[:notice] %>
    <br/>
    <div class="notice" style="color: #B00100"><%= flash[:notice] %></div>
    <br/>
<% end %>

<div class="panel panel-default">

  <div class="panel-heading">
    Users
    <%= link_to 'Add a new user', new_user_path, class: 'btn btn-success' %>
  </div>
  <div class="panel-body">
    <table class="table" summary="User list">
      <tr class="header">
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Type</th>
        <th colspan="2">Actions</th>
      </tr>
      <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.type %></td>
            <td><%= link_to 'Show Courses', user_path(user) %></td>
            <td><%= link_to 'Delete User', delete_user_path(user) %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>