<h4 style="text-align: center">Add Course Material</h4>
<div class="well">
  <%= bootstrap_form_tag url:new_course_material_path ,method: 'get' do |f|%>
      <%= f.select 'id',options_from_collection_for_select(@courses, :id, :title, params[:id]), {:prompt => "Select Course"}%>
      <div style="display:inline-block;">
        <span><%= f.submit 'Post Material', class: 'btn btn-default' %></span>
      </div>
  <% end %>
  <br/>
</div>


<% if params[:id] != nil %>
    <div class="panel panel-default">
      <table class="table">
        <thead class="panel-heading">
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th class="col-md-6">Description</th>
          <th>Deadline</th>
          <th>Action</th>
        </tr>
        </thead>
        <% CourseMaterial.where(course_id: params[:id]).find_each do |c| %>
            <% task = Task.find_by_id c.task_id %>
            <tr>
              <td><%= task.id%></td>
              <td><%= task.title %></td>
              <td><%= task.description %></td>
              <td><%= task.deadline %></td>
              <td><%= link_to 'Edit', edit_course_material_path(task.id), class: 'btn btn-default' %></td>
            </tr>
        <% end %>
      </table>
    </div>
<% end %>