<div class="courses index">
  <h2>Admins - Course Index</h2>
  <%= link_to("Add new Course", {:action => 'new'}, :class => 'action new_course') %>
  <table class="listing" summary="Course list">
    <tr class="header">
      <th>Course Number</th>
      <th>&nbsp;</th>
      <th>Title</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Actions</th>
    </tr>
    <% @courses.each do |course| %>
        <tr>
          <td><%= course.coursenumber %></td>
          <th>&nbsp;</th>
          <td><%= course.title %></td>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <td class="actions"><br />
            <%= link_to("Show", {:action => 'show_course', :id => course.id}, :class => 'action show_course') %>
            <%= link_to("Edit", '#', :class => 'action edit') %>
            <%= link_to("Delete", '#', :class => 'action delete') %>
          </td>
          <br />
        </tr>
    <% end %>
  </table>
</div>