<ul class="nav navbar-nav">
  <li><%= link_to 'Approve Requests', enrollment_path %></li>
  <li><%= link_to 'Remove Students', history_path %></li>
  <li><%= link_to 'Add Material', course_material_index_path %></li>
  <li><%= link_to 'Post Grades', grade_index_path %></li>
  <li><%= link_to 'Inactivate Course', inactivate_courses_path %></li>
  <li><%= link_to 'View Messages', messages_path %></li>
</ul>